<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
</head>
<body>
  <h1>URL Shortener</h1>
  <p>Your shortened URL is: <a href="<%= shortened_url %>"><%= shortened_url %></a></p>
</body>
</html>
